html {
  height: 100%;
}

body {
  margin: 0;
  background: #ffdb00;
  height: 100%;
  overflow: auto;
}

.wrapper {
  min-height: calc(100% - 153.05px);
}

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.leftcont {
  float: left;
  position: fixed;
  width: 50%;
  padding: 25px;
  z-index: 2;
  box-sizing: border-box; 
}

.leftcont a {
  display: block;
  height: 83px;
  white-space: nowrap;
}

.home {
  font-family: AkzidenzGrotesk-LightOsF;
  font-size: 73px;
  cursor: help;
}

.home:hover {
  text-decoration: underline;
  font-family: AkzidenzGrotesk-LightOsF;
  color: #095e68;
}

.shop {
  font-family: AkzidenzGrotesk-LightOsF;
  font-size: 73px;
} 

.shop:hover {
  font-family: AkzidenzGrotesk-MediumExtended;
  text-decoration: underline;
  color: #095e68;
  font-size: 66px;
}

.socials {
  font-family: AkzidenzGrotesk-LightOsF;
  font-size: 73px;
  cursor: cell;
}

.socials:hover {
  font-family: BureauGrot-UltraBlack;
  text-decoration: underline;
  color: #095e68;
  font-size: 66px;
} 

.hi {
  font-family: AkzidenzGrotesk-LightOsF;
  font-size: 73px;
} 

.hi:hover {
  font-family: Sunday Morning;
  text-decoration: underline;
  color: #095e68;
  font-size: 96px;
} 

.rightcont {
  padding: 25px;
  width: 50%;
  font-family: NanumMyeongjo-Regular;
  font-size: 68px;
  float: right;
  box-sizing: border-box; 
}

.aboutimage {
  width: 70%;
  display: block;
  padding-bottom: 40px;
}

.iran {
  font-family: AkzidenzGrotesk-LightOsF;
  font-size: 71px;
  cursor: crosshair;
  text-decoration: underline;
  display: inline;
}

.iran:hover {
  background: url(images/iran.png) center/contain no-repeat;
  width: 108px;
  color: rgba(0,0,0,0);
}

.covid {
  font-family: AkzidenzGrotesk-LightOsF;
  font-size: 71px;
  cursor: crosshair;
  text-decoration: underline;
  display: inline;
}

.covid:hover {
  background: url(images/n95.jpg) center/contain no-repeat;
  width: 108px;
  color: rgba(0,0,0,0);
}

.2020 {
  font-family: AkzidenzGrotesk-LightOsF;
  font-size: 71px;
  cursor: crosshair;
  text-decoration: underline;
  display: inline;
}

.2020:hover {
  background: url(images/2020.jpg) center/contain no-repeat;
  width: 108px;
  color: rgba(0,0,0,0);
}

.subhead {
  font-family: AkzidenzGrotesk-LightOsF;
  font-size: 38px;
}

footer {
  margin: 25px 25px 0;
  position: fixed;
}

.logo {
  width: 25%;
  z-index: 2;
}

@media (max-width: 1059px) { 
  .home {
    font-size: 57px;
  }
  .shop:hover {
    font-size: 50px;
  }
  .socials:hover {
    font-size: 50px;
  }
  .hi:hover {
    font-size: 80px;
  }
  .shop {
    font-size: 57px;
  }
  .socials {
    font-size: 57px;
  }
  .hi {
    font-size: 57px;
  }
  .leftcont a {
    height: 72px;
  }
  .iran {
    font-size: 57px;
  }
  .covid {
    font-size: 57px;
  }
  .2020 {
    font-size: 57px;
  }
  .subhead {
    font-size: 27px;
  }
  .rightcont {
    font-size: 52px;
  }
  .logo {
    width: 22%;
  }
}

@media (max-width: 846px) { 
  .leftcont {
    width: 100%;
    position: static;
  }
  .rightcont {
    float: none;
    width: 100%;
  }  
  .aboutimage {
    padding-top: 45px;
  }
  .logo {
    width: 15%;
    display: block;
  }
  footer {
    position: static;
  }
}

@media (max-width: 635px) { 
  .rightcont {
    font-size: 36px;
  }
  .iran {
    font-size: 39px;
  }
  .covid {
    font-size: 39px;
  }
  .2020 {
    font-size: 39px;
  }
  .logo {
    width: 22%;
  }
}

@media (max-width: 411px) { 
   .home {
    font-size: 41px;
  }
  .rightcont {
    font-size: 32px;
  }
  .iran {
    font-size: 35px;
  }
  .shop:hover {
    font-size: 34px;
  }
  .socials:hover {
    font-size: 34px;
  }
  .hi:hover {
    font-size: 48px;
  }
  .shop {
    font-size: 41px;
  }
  .socials {
    font-size: 41px;
  }
  .hi {
    font-size: 41px;
  }
  .leftcont a {
    height: 51px;
  }
  .logo {
    width: 30%;
  }
}
@font-face { font-family: AkzidenzGrotesk-LightOsF; src: url('fonts/AkzidenzGrotesk-LightOsF.otf'); } 
@font-face { font-family: NanumMyeongjo-Regular; src: url('fonts/NanumMyeongjo-Regular.ttf'); } 
@font-face { font-family: Sunday Morning; src: url('fonts/Sunday Morning.otf'); } 
@font-face { font-family: AkzidenzGrotesk-MediumExtended; src: url('fonts/AkzidenzGrotesk-MediumExtended.otf'); } 
@font-face { font-family: BureauGrot-UltraBlack; src: url('fonts/BureauGrot-UltraBlack.ttf'); } 

